@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.CodeMirror {
  resize: vertical;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  font-size: 14x;

    &::-webkit-scrollbar-track {
      background-color: #2E3440;
  }

  &::-webkit-scrollbar {
    width: 0.6em;
      background-color: #60656E;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #60656E;	
  }

  .cm-s-3024-day {
    background: #2E3440;
    color: #C2C4C7;
}
}



